.city-select {
    width: 250px;
    border: 3px solid #3997dc;
    margin: 5px;
}
.get-weather-data {
    background-color: #3997dc !important;
    padding: 0.62rem 1.2rem;
    width: 250px;
    margin: 15px 5px 15px 5px;
    font-size: 25px;
    padding: 1px;
}
.input-search-row {
    margin: 45px;
}


.input-search-wrapper {
    display: flex;
    justify-content: center;
    margin: 100px 25%;
    position: absolute;

}
.app {
    background-image: url('./assets/images/weather_background.jpg');
    background-size: 2000px;
    height: 1250px;
    background-repeat: no-repeat;
}


