.city-select {
    width: 250px;
    border: 3px solid #3997dc;
    margin: 5px;
}

span.data-row {
    margin-left: 45px;
    font-size: 45px;
    color: darkblue;
}

.city-name {
    font-size: 125px;
    color: darkblue;
    margin-bottom: 85px;
}

.get-weather-data {
    background-color: #3997dc !important;
    padding: 0.62rem 1.2rem;
    width: 250px;
    margin: 15px 5px 15px 5px;
    font-size: 25px;
    padding: 1px;
}
.input-search-row {
    margin: 45px;
}

.data-display-row {
    margin: 25px;
}


.input-search-wrapper {
    display: flex;
    justify-content: center;
    margin: 15px 25%;
    top: 50px;
}

.data-display-wrapper {
    display: flex;
    justify-content: start;
    margin: 25px 25%;
}
.app {
    background-image: url('./assets/images/weather_background.jpg');
    background-size: 2000px;
    height: 1250px;
    background-repeat: no-repeat;
}


